bin/
.vs
obj/


/MaterialEvaluationCal/packages/
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/*.p7s
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/*.nupkg
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/content/net40/*.transform
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/lib/net40/*.dll
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/lib/net40/*.xml
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/lib/net40/zh-Hans/*.dll
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/lib/net40/zh-Hans/*.xml
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/lib/net45/*.dll
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/lib/net45/*.xml
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/lib/net45/zh-Hans/*.dll
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/lib/net45/zh-Hans/*.xml
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/tools/*.dll
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/tools/*.psd1
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/tools/*.psm1
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/tools/*.txt
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/tools/*.ps1
/MaterialEvaluationCal/packages/EntityFramework.6.2.0/tools/*.exe
/MaterialEvaluationCal/packages/EntityFramework.zh-Hans.6.2.0/*.p7s
/MaterialEvaluationCal/packages/EntityFramework.zh-Hans.6.2.0/*.nupkg
/MaterialEvaluationCal/packages/EntityFramework.zh-Hans.6.2.0/lib/net40/zh-Hans/*.dll
/MaterialEvaluationCal/packages/EntityFramework.zh-Hans.6.2.0/lib/net40/zh-Hans/*.xml
/MaterialEvaluationCal/packages/EntityFramework.zh-Hans.6.2.0/lib/net45/zh-Hans/*.dll
/MaterialEvaluationCal/packages/EntityFramework.zh-Hans.6.2.0/lib/net45/zh-Hans/*.xml
