<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <add name="ConnectionStringJCJT_WH" connectionString="Data Source=114.55.252.247;User ID=jcjt;Password=Bd!@#$%^;Initial Catalog=jcjt_wh;"/>
    <add name="ConnectionStringDebugTool" connectionString="Data Source=114.55.252.247;User ID=sa;Password=Bdwryi!@#$;Initial Catalog=CalDebugTool;"/>
    <add name="ConnectionStringJCJG_WH" connectionString="Data Source=whjcjg.jzyglxt.com,12345;User ID=wh_jcjg;Password=Bd!@#$%^;Initial Catalog=jcjg_wh;"/>
    <!--<add name="ConnectionStringLocal" connectionString="Data Source=192.168.8.60\MSSQLSERVER2017;
    User ID=sa;Password=Wang207192;Initial Catalog=CalDebugTool;"/>
    <add name="ConnectionStringDebugTool" connectionString="Data Source=192.168.8.60\MSSQLSERVER2017;User ID=sa;Password=Wang207192;Initial Catalog=CalDebugTool;"/>-->
    <add name="ConnectionStringJCJT_TZ" connectionString="Data Source=tzjcjg.jzyglxt.com,12345;User ID=bdsoft;Password=bdwryi!@#$1234;Initial Catalog=tz_jcjt;"/>
    <add name="ConnectionStringJCJG_TZ" connectionString="Data Source=tzjcjg.jzyglxt.com,12345;User ID=bdsoft;Password=bdwryi!@#$1234;Initial Catalog=jcjg_tz;"/>
    
  </connectionStrings>
  <appSettings>
    <add key="http_getapiurl" value="http://calctest.jzyglxt.com/apiv1/GetCalcVersionLib"/>
    <add key="http_getparameterapiurl" value="http://calctest.jzyglxt.com/apiv1/GetParameter"/>
    <add key="http_setapiurl" value="http://calctest.jzyglxt.com/apiv1/SetCalcVersionLib"/>
    <add key="http_set_defaultLib_url" value="http://calctest.jzyglxt.com/apiv1/SetCalcVersionDefault"/>
    <add key="http_get_sylbapiurl" value="http://calctest.jzyglxt.com/apiv1/GetCalcVersionLibSylb"/>
    <add key="http_get_login" value="http://calctest.jzyglxt.com/apiv1/Login"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Qybh" value="JCQ005322,JCQ005324,JCQ005325" />
    <add key="JCJGName" value="WH" />
  </appSettings>
  <!--<appSettings>
    <add key="http_getapiurl" value="http://calc.jzyglxt.com/apiv1/GetCalcVersionLib"/>
    <add key="http_getparameterapiurl" value="http://calc.jzyglxt.com/apiv1/GetParameter"/>
    <add key="http_setapiurl" value="http://calc.jzyglxt.com/apiv1/SetCalcVersionLib"/>
    <add key="http_get_sylbapiurl" value="http://calc.jzyglxt.com/apiv1/GetCalcVersionLibSylb"/>
    <add key="http_get_login" value="http://calc.jzyglxt.com/apiv1/Login"/>
  </appSettings>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
