<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionStringDebugTool" connectionString="Data Source=114.55.252.247;User ID=sa;Password=Bdwryi!@#$;Initial Catalog=CalDebugTool;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringJCJT_WH" connectionString="Data Source=114.55.252.247;User ID=jcjt;Password=Bd!@#$%^;Initial Catalog=jcjt_wh;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringJCJG_WH" connectionString="Data Source=whjcjg.jzyglxt.com,12345;User ID=wh_jcjg;Password=Bd!@#$%^;Initial Catalog=jcjg_wh;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionStringLocal" connectionString="Data Source=192.168.8.60\MSSQLSERVER2017;
    User ID=sa;Password=Wang207192;Initial Catalog=CalDebugTool;"/>
    <add name="ConnectionStringDebugTool" connectionString="Data Source=192.168.8.60\MSSQLSERVER2017;User ID=sa;Password=Wang207192;Initial Catalog=CalDebugTool;"/>-->
     <!--富阳德浩-->
    <!--<add name="ConnectionStringJCJT_FY" connectionString="Data Source=47.98.142.12;User ID=jcjt;Password=Bd!@#$%^;Initial Catalog=jcjt_fy;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringJCJG_FY" connectionString="Data Source=tzjcjg.jzyglxt.com,12345;User ID=bdsoft;Password=bdwryi!@#$1234;Initial Catalog=jcjg_tz;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionStringJCJT_FY2" connectionString="Data Source=47.98.142.12;User ID=jcjt;Password=Bd!@#$%^;Initial Catalog=jcjt_fy;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringJCJG_FY2" connectionString="server=118.178.180.37;port=3308;user id=bdsoft; password=jcjg123456; Database=jcjg_dh;CharacterSet =gb2312;" providerName="MySql.Data.MySqlClient" />
    <!--台州商砼-->
    <add name="ConnectionStringJCJT_TZ" connectionString="Data Source=tzjcjg.jzyglxt.com,12345;User ID=bdsoft;Password=bdwryi!@#$1234;Initial Catalog=tz_jcjt;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringJCJG_TZ" connectionString="Data Source=tzjcjg.jzyglxt.com,12345;User ID=bdsoft;Password=bdwryi!@#$1234;Initial Catalog=jcjg_tz;" providerName="System.Data.SqlClient" />
    <!--萧山商砼-->
    <add name="ConnectionStringJCJT_XSSTZ" connectionString="Data Source=tzjcjg.jzyglxt.com,12345;User ID=bdsoft;Password=bdwryi!@#$1234;Initial Catalog=tz_jcjt;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringJCJG_XSSTZ" connectionString="Data Source=xsjcjg.jzyglxt.com,12345;User ID=bdsoft;Password=bdwryi!@#$1234;Initial Catalog=jcjg_xs;" providerName="System.Data.SqlClient" />


    <!--<add name="ConnectionString"  connectionString=" ..." providerName="System.Data.OleDb" />

    <add name="ConnectionString"  connectionString=" ..." providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="http_getapiurl" value="http://calctest.jzyglxt.com/apiv1/GetCalcVersionLib" />
    <add key="http_getparameterapiurl" value="http://calctest.jzyglxt.com/apiv1/GetParameter" />
    <add key="http_setapiurl" value="http://calctest.jzyglxt.com/apiv1/SetCalcVersionLib" />
    <add key="http_set_defaultLib_url" value="http://calctest.jzyglxt.com/apiv1/SetCalcVersionDefault" />
    <add key="http_get_sylbapiurl" value="http://calctest.jzyglxt.com/apiv1/GetCalcVersionLibSylb" />
    <add key="http_get_login" value="http://calctest.jzyglxt.com/apiv1/Login" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Qybh" value="JCQ005322,JCQ005324,JCQ005325" />
    <add key="JCJGName" value="WH" />
  </appSettings>
  <!--<appSettings>
    <add key="http_getapiurl" value="http://calc.jzyglxt.com/apiv1/GetCalcVersionLib"/>
    <add key="http_getparameterapiurl" value="http://calc.jzyglxt.com/apiv1/GetParameter"/>
    <add key="http_setapiurl" value="http://calc.jzyglxt.com/apiv1/SetCalcVersionLib"/>
    <add key="http_get_sylbapiurl" value="http://calc.jzyglxt.com/apiv1/GetCalcVersionLibSylb"/>
    <add key="http_get_login" value="http://calc.jzyglxt.com/apiv1/Login"/>
  </appSettings>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.21.0" newVersion="8.0.21.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
</entityFramework>
</configuration>